body {
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 20px;
}

#gameStatus,
#playerRole {
	margin-top: 20px;
}

html {
	background-color: #E4017F;
	color: #FFF000;
	background-image: url("./London.svg");
	/* background-repeat: no-repeat; */
	background-position: bottom left;
	background-position: -609pt 203pt;
}

@media screen and (min-width: 600px) {
	html {
		background-position: -300pt 10611pt;
		background-size: 200% 2000%;
	}
}

#playerCount {
	margin-top: 10px;
}

.card {
	display: none;
	background-color: white;
	border: 1px solid #ddd;
	padding: 20px;
	margin-top: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	color: black;
	border-radius: 12pt;
	font-size: 1.5em;
	height: 100pt;
}

#controls {
	display: flex;
	flex-direction: column;
	margin: 25pt;
}

input {
	color: #FFF000;
	background: #ffee0018;
	border: 0;
	outline: none;
	font-size: 1.5em;
	padding: 5pt;
}

::placeholder {
	color: #ffee009e;
	opacity: 1;
}

button {
	border: 0;
	outline: none;
	background: #FFF000;
	color: #E4017F;
	font-size: 1.5em;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	margin-top: 1em;
	cursor: pointer;
	transition: background 0.3s ease;

	&:hover {
		background: #ffee009e;
	}
}
